{{!-- Top Level Documents First --}}
{{#each docs}}
<li><a href="#{{nav.id}}">{{{nav.text}}}</a></li>
{{/each}}

{{!-- Next Level Children --}}
{{#each children}}

{{!-- Category Title --}}
<li class="uk-nav-header">{{name}}</li>

{{!-- Either Direct Doc files --}}
{{#each docs}}
<li><a href="#{{nav.id}}">{{{nav.text}}}</a></li>
{{/each}}

{{!-- Or Next Level Index Files --}}
{{#each children}}
<li><a href="#{{index.nav.id}}">{{{name}}}</a></li>
{{/each}}

{{/each}}