{{!-- Top Level Documents First --}}
{{#each docs}}
<li><a href="#{{nav.id}}">{{{nav.text}}}</a></li>
{{/each}}

{{!-- Next Level Children --}}
{{#each children}}

{{!-- Category Title --}}
<li class="uk-nav-header">{{name}}</li>

{{!-- Either Direct Doc files --}}
{{#each docs}}
<li><a href="#{{nav.id}}">{{{nav.text}}}</a></li>
{{/each}}

{{!-- Or Next Level Index Files --}}
{{#each children}}


  {{#if sideNav}}
  <li class="uk-parent">
    <a href="#{{index.nav.id}}">{{{name}}}</a>
    <ul class="uk-nav-sub">
    {{#each sideNav}}<li><a href="#{{nav.id}}">{{{nav.text}}}</a></li>{{/each}}
    </ul>
  </li>
  {{else}}
  <li><a href="#{{index.nav.id}}">{{{name}}}</a></li>
  {{/if}}

{{/each}}

{{/each}}