<li class="uk-nav-header"><a href="#{{index.nav.id}}">{{name}}</a></li>

{{!-- Category Documents first --}}
{{#each docs}}
<li><a href="#{{nav.id}}">{{{nav.markup}}}</a></li>
{{/each}}

{{#each children}}
<li><a href="#{{index.nav.id}}">{{{name}}}</a></li>
{{/each}}